@import 'partials/ticket_box';
@import 'partials/ticket_author';
@import 'partials/profile_widget';
@import 'partials/teachers_widget';
@import 'partials/login';
@import 'partials/footer';


main {
    .container-fluid{
        margin-bottom: 200px;
    }
}

.fontw100 {
    margin-top: 70px;
    font-weight: 200;
}

