.footer {
    height: 130px;
    width: 100%;
    background-color: rgb(47, 3, 128);
    color: white;
    h4 {
        padding-top: 30px;
        font-weight: 100;
    }
    i {
        font-size: 2em;
        margin: 0 .3em;
    }
}