.login-form {
    margin-top: 60px;
    margin-bottom: 200px;
    // background-color: #3C0084;
    background: linear-gradient(#3C0084, rgb(74, 6, 235));
    padding: 30px;
    color: white;
    border-radius: 7px;
    box-shadow: -1px 10px 52px -8px rgba(107,107,107,1);
}

.img-holder {
    margin-top: 5%;
    img{
        width: 100%
    }
}